* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 0px;
  overflow: hidden;
}

body .heading {
  font-size: 8rem;
  margin: 7rem 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #cb904d;
  display: inline-block;
  position: relative;
  z-index: 3;
}

body .heading::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  top: 22%;
  left: 12%;
  border: 1px solid #cb904d31;
  z-index: -20;
}

@keyframes move {
  from {
    transform: rotate(45deg) translate(-120px, 60px);
  }
  to {
    transform: rotate(45deg) translate(-120px, -290px);
  }
}
body .container {
  margin: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  animation: move 4.5s linear infinite alternate;
}

.container .child-container {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #b9b9b9;
  text-align: center;
  overflow: hidden;
}

.child-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media screen and (max-width: 1000px) {
  body .heading {
    margin: 9rem 3rem;
    font-size: 6rem;
  }
}

@media screen and (max-width: 780px) {
  body .heading {
    font-size: 4rem;
    margin: 12rem 2rem;
  }
  @keyframes move {
    from {
      transform: rotate(45deg) translate(20px, 80px);
    }
    to {
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

  body .container {
    gap: 0.5rem;
  }
  .container .child-container {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 500px) {
  body .heading {
    margin: 8rem 2rem;
  }

  @keyframes move {
    from {
      transform: rotate(45deg) translate(150px, 80px);
    }
    to {
      transform: rotate(45deg) translate(150px, 20px);
    }
  }
}
